#contactform {
    background-color: aliceblue;

}

body {
    background-color:peachpuff;
}

.standardtable{
	font-family: 'Gill Sans MT';
	text-align: left;
	border: 0.1vw solid;
	width: 1500px; 
	height: 250px; 
    color: #E831B9
}

th {
    color: #d76c6c
}

td {
    font-size: 1.5vw;
}

.logonavsettings {
	text-align: center;
}

.firsttable {
	font-family: Comic Sans MS;
	background-color: #E88931;
	color: #E831B9;
}


form {
	font-family: Arial;
}

#submit {
	font-family: cursive;
	border-radius: 12px; 
	padding: 5px 10px;
	background-color: #d76c6c;
}

a:link, a:visited {
  color: green;
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.active {
	background-color: aquamarine;
}
