body {
  background-color:peachpuff;
} // This is my whole page's background-color

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: peachpuff;
  flex-wrap: wrap;
}


.logo {
  height: 60px;
  margin-right: 20px;
}

.navbar a {
  font-family: Comic Sans MS;
  color: #E831B9;
  text-decoration: none;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 8px;
}

.navbar a.active {
  background-color: rgb(196, 244, 228);
}

a:hover {
  color:red;
  text-decoration: underline;
}
