h2 {
    font-size: 24px;
    color:black;
    margin-top: 20px;
    text-align: left;
}

blockquote{ 
    font-style: italic;
    font-size: 20px;
    color: #555;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

body {
    background-color: blanchedalmond;
}

p{ 
    font-family: 'Times New Roman', Times, serif; 
    color:darkblue;
    font-size: 24px;
    line-height: 1.6;
    margin: 10px 0;
}

h1{
    text-align: center; 
    color: rgb(120,0,0);
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif；
}
